* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }

.googleapis {
  font-family: "Ubuntu", sans-serif , cursive;
  font-size: 5rem;
}

/* Nav */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #008DDA;
    padding: 10px;
    padding-right: 20px;
    position: sticky;
    top: 0;
  }

  @media screen and (max-width: 600px) {
    nav {
      position: static;
    }
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    transition: all 0.5s;
  }

  nav a:hover {
    background-color: #555;
  }

  .logo {
    margin-right: auto; /* Empuja el logo hacia la izquierda */
    margin-left: 20px;
  }
  
  .logo img {
    width: 50px; 
  }

/* Main image */
.main-image {
  background-image: url(../img/landscape-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(243, 250, 250);
  background: rgba(13, 13, 13, 0.4);
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  color: #F7EEDD;
  text-align: left;
}

i {
  transition: 3s;
}

i:hover {
  transform: translate(10px, 10px);
}

iframe {
  float: right;
  display: -webkit-flex;
  display: flex;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: inline-start; 
  width: 360px;
  align-items: center;
  transition: 0.5s;
}

div.gallery:hover {
  border: 1px solid #34ab1e;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.desc p{
  margin: 0.5rem 0rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

/* Agrega estilos al botón "Ver más" */
.ver-mas-btn {
  background-color: #34ab1e; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition-duration: 0.5s;
  border: 1px solid #34ab1e;
}

.ver-mas-btn:hover {
  background-color: #ffffff; /* Color de fondo cuando se pasa el ratón por encima */
  color: #34ab1e;
}

section {
  padding: 20px;
  margin: 20px 0;
}

article {
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
}

/* Estilos para el primer article */
.article-1 {
  background-color: rgb(93, 173, 117); /* Color de fondo para el primer article */
  padding: 20px; /* Espacio interior para el contenido */
}

/* Estilos para el segundo article */
.article-2 {
  background-color: #3399ff; /* Color de fondo para el segundo article */
  padding: 20px;
}

/* Estilos para el tercer article */
.article-3 {
  background-color: #ff6666; /* Color de fondo para el tercer article */
  padding: 20px;
}

.mas-info-btn {
  border: none;
  background-color: #ffffff;
  color: cornflowerblue;
  cursor: pointer;
  font-weight: bold;
}

.mas-info-btn:hover {
  color: white;
  background-color: cornflowerblue;
  font-weight: bold;
}

/* Footer */
.imagen-footer {
  margin-right: 0.5rem;
}

footer {
  background-color: black;
  color: #ccc;
  padding: 10px 0;
  margin-top: 50px;
  }

/* Nuestra sede principal */
.sede-principal {
  display:flex;
  margin: 1.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 1rem 0rem;
}
.sede-principal p {
  margin: 0.5rem;
}
.mapa {
  height: 200px;
  width: 300px;
}
@media screen and (min-width:768px) {
  .mapa {
    width: 600px;
    height: 350px;
  }
}
.sede-principal div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
  width: 65%;
}
.sede-principal h1 {
color: #F7EEDD;
}
.sede-principal p {
color: #F7EEDD;
}

.grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid: gap 50px;
  padding: 45px 0px;
}

.grupo-1 figure {
  width: 100%;
  height: 100px;
  padding-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-1 figure img {
  width: 150px;
}

.grupo-1 .googleapis {
  font-size: 45px;
}

.grupo-1 .box .h2 {
  margin-bottom: 25px;
  font-size: 25px;
  text-align: left;
}

.grupo-1 .box .p {
  margin-bottom: 25px;
  font-size: 25px;
  text-align: left;
}

.grupo-1 .p .red-social {
  padding-left: 25px;
}

.grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  color: #f5f5f5;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  transition: all 300ms ease;
}

.grupo-1 .red-social a:hover {
  color:#ff6666
}

.grupo-2 {
  margin-top: 2rem;
}

.grupo-2 p {
  text-align: center;
}

@media screen and (max-width:800px) {
  .grupo-1 {
    width: 90%;    
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.5rem;
    padding: 35px 0px;
  } 
  .box .googleapis{
    font-size: 1.5rem;
  }
  .main-image .googleapis {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    nav {
      flex-direction: column; /* Cambia a disposición de columna en dispositivos móviles */
      align-items: center; /* Centra los elementos en dispositivos móviles */
    }
  
    .logo {
      margin: 0;
      margin-bottom: 10px; /* Agrega espacio entre el logo y los enlaces en dispositivos móviles */
    }
  
    nav a {
      margin: 10px 0; /* Espacio entre los enlaces en dispositivos móviles */
    }
  }

  form {
    margin: 1rem;
    /* box-shadow: 0 2px 5px #f5f5f5; 
    background: #f5f5f5; 
    background-color: #f5f5f5; */
    }
  
    input,textarea {
      padding: 0.4rem;
      margin-bottom: 1rem;
      border: 1px solid;
      outline: none;
      }

      .destino {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        max-width: 300px;
        text-align: center;
        display: inline-block;
    }

    .destino img {
        max-width: 100%;
        border-radius: 10px;
    }

    .h2-destino {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .p-destino {
        font-size: 1em;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  @media (max-width: 768px) {
    .destino {
        width: 100%;
    }
}

/* Contacto */
.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.form-contacto {
  width: 100%; /* Ajusta el ancho del formulario según sea necesario */
  max-width: 600px; /* Ancho máximo del formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label, input, textarea, select {
  display: block;
  width: 100%;
}

.form-contacto  img {
  height: 5.5rem;
  width: 5.5rem;
}
.container-form form h2 {
  text-align: center;
}
.container-form form > div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.provincia {
  margin: 1rem 0rem;
  display: block;
}
.form-contacto input[type="radio"] {
  width: 2.5rem;
}
.form-contacto input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 1rem;
}

.warnings {
  width: 12rem;
  text-align: center;
  margin: auto;
  color: #B06AB3;
  padding-top: 20px;
}

/* QUIENES SOMOS */
.title-quienes-somos {
  text-align: center;
  margin: 2rem 0rem;
}

.container-quienes-somos {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
.container-quienes-somos p {
  margin: 0rem 0.5rem;
}
.container-quienes-somos img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container-quienes-somos img {
    height: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .container-quienes-somos img {
    height: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .container-quienes-somos {
    grid-template-columns: 1fr;
  }
  .container-quienes-somos img {
    margin: 0.5rem 0;
  }
  #item1-qs {
    order: 2;
  }
  #item2-qs {
    order: 1;
  }
  #item5-qs {
    order: 6;
  }
  #item6-qs {
    order: 5;
  }
}

/* Register */
.pregunta-registro {
  display: flex;
  text-align: center;
}
.pregunta-registro a {
  text-decoration: none;
  color: #008DDA;
}
.pregunta-registro a:hover {
  text-decoration: underline;
}