<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Asoc. Kinesiologos</title>
    <link rel="icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilos/estilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/18f8a441d3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
      <div class="logo">
        <img src="img/logo.png" alt="Logo Kinesiología">
      </div>
        <a href="/">Inicio</a>
        <a href="/quienesSomos">Quiénes somos</a>
        <a href="/contactanos">Contactanos</a>
    </nav>
    <div class="main-image" id="slide-principal">
      <div class="header">
        
      <h1 class="googleapis">Asociación de Kinesiologos y Fisioterapeutas</h1>
      </div>
    </div>
  <div class="container-form">
    <form class="form-contacto" action="" method="POST" id="form">
        <div>
            <img src="img/logo.png" width="100px" height="100px">
        </div>
        <h2>Contacto</h2>
        <label for="nombres">Nombre/s:</label>
        <input type="text" name="nombres" id="nombres">
        <label for="apellidos">Apellido/s:</label>
        <input type="text" name="apellidos" id="apellidos">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="telefono">Telefono:</label>
        <input type="number" name="telefono" id="telefono">
        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" id="mensaje"></textarea>
        Seleccione su provincia y municipio:
        <select name="provincia" class="provincia" id="provincia">
          <option value="">Seleccione una provincia</option>
        </select>
        <select name="municipio" class="municipio" id="municipio">
          <option value="">Seleccione una municipio</option>
        </select> <br>
        <p>Sexo:</p>
        <div>
            <input type="radio" name="sexo" value="1" id="sexo-hombre">
            <p>Hombre</p>
            <input type="radio" name="sexo" value="2" id="sexo-mujer">
            <p>Mujer</p>
            <input type="radio" name="sexo" value="3" id="sexo-binario">
            <p>Binario</p>
            <input type="radio" name="sexo" value="4" id="sexo-otro">
            <p>Otro</p>
        </div>
        <input type="submit" value="Enviar datos">
        <p class="warnings" id="warnings"></p>
    </form>
  </div>

      <footer>
        <div class="grupo-1">
          <div class="box">
            <figure>
            <a href="#">
            <img class="imagen-footer" src="img/logo.png" alt="Asociacion de Kinesiologos y Fisioterapeutas">
            </a>
            <p class="googleapis">Asociación de Kinesiologos y Fisioterapeutas</p>
            </figure>
          </div>
          <div class="box">
             </div>  
          <div class="box">
            <h2>SEGUINOS</h2>
            <div class="red-social">
              <a href="#" class = "fa fa-facebook"></a>
              <a href="#" class = "fa fa-instagram"></a>
              <a href="#" class = "fa fa-twitter"></a>
            </div>
          </div>
        </div>
        <div>
          <div class="grupo-2">
            <p>Todos los derechos reservados © 2024</p>  
          </div>
        </div>
      </footer>

      <script src="js/script.js"></script>
      <script src="js/api.js"></script>
</body>
</html>