<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Asoc. Kinesiologos</title>
    <link rel="icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilos/estilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/18f8a441d3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
      <div class="logo">
        <img src="img/logo.png" alt="Logo Kinesiología">
      </div>
        <a href="#slide-principal">Inicio</a>
        <a href="#sede">Lugares de Atencion</a>
        <a href="/quienesSomos">Quiénes somos</a>
        <a href="/contactanos">Contactanos</a>
    </nav>
    <div class="main-image" id="slide-principal">
      <div class="header">
        
      <h1 class="googleapis">Asociación de Kinesiologos y Fisioterapeutas</h1>
      </div>
    </div>
  <div class="row">
        <div class="column" style="background-color:#41C9E2; text-align: center;"><h3>SERVICIOS DISPONIBLES</h3></div>
      </div>
      <div class="flex-container">  
      <div class="gallery">
        <a target="_blank" href="img/fisio.png">
          <img src="img/fisio.png" alt="Fisio" width="600" height="400">
        </a>
        <div class="desc"><h3>Fisioterapia</h3><p>Ejercicios, masajes y terapias físicas para aliviar el dolor, mejorar la movilidad, recuperar funciones y prevenir lesiones.</p>
        <button class="ver-mas-btn">VER MÁS</button>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img/rehabilitacion.jpg">
          <img src="img/rehabilitacion.jpg" alt="rehabilitacion" width="600" height="400">
        </a>
        <div class="desc"><h3>Centro de Rehabilitación</h3><p>Destacamos por ofrecer atención personalizada, profesionalidad y compromiso con la recuperación integral del paciente.</p>
        <button class="ver-mas-btn">VER MÁS</button>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img/equipamiento.jpg">
          <img src="img/equipamiento.jpg" alt="Campo de tulipanes" width="600" height="400">
        </a>
        <div class="desc"><h3>Equipamiento</h3><p>Garantizamos calidad y durabilidad en nuestros artículos, en pos una óptima experiencia de usuario</p>
        <button class="ver-mas-btn">VER MÁS</button>
        </div>
      </div>
      
    </div>


<div class="sede-principal" id="sede">
  <div class="">
    <h1>Nuestra Sede Principal</h1>
    <p>Nos encontramos en Av. Juan Bautista Alberdi 790, C1424 Cdad. Autónoma de Buenos Aires</p>
  </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d419793.3373203881!2d-58.57337305615179!3d-34.71437377497604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca47eea66947%3A0x5ce6a74d3e01dca0!2sKinesiolog%C3%ADa%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1716835754615!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" class="mapa" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>Horario de atención: 8a.m. a 22p.m. de lunes a viernes</p>
    <p>Te esperamos</p>
</div>

      <footer>
        <div class="grupo-1">
          <div class="box">
            <figure>
            <a href="#">
            <img class="imagen-footer" src="img/logo.png" alt="Asociacion de Kinesiologos y Fisioterapeutas">
            </a>
            <p class="googleapis">Asociación de Kinesiologos y Fisioterapeutas</p>
            </figure>
          </div>
          <div class="box">
             </div>  
          <div class="box">
            <h2>SEGUINOS</h2>
            <div class="red-social">
              <a href="#" class = "fa fa-facebook"></a>
              <a href="#" class = "fa fa-instagram"></a>
              <a href="#" class = "fa fa-twitter"></a>
            </div>
          </div>
        </div>
        <div>
          <div class="grupo-2">
            <p>Todos los derechos reservados © 2024</p>  
          </div>
        </div>
      </footer>
</body>
</html>